//
// TOGGLE
// Effect for small screens. Submenu opening under parent with transition effect.
// ----------------------------

.fx-collapse {

  // Closed
  ul ul {
    overflow: hidden;
    max-height: 0;
  }

  .pine-level-open > .pine-level-2,
  .pine-level-open > .pine-level-3 {
    overflow: visible;
    max-height: none;
  }

  // --- Toggle FX: triangle to bottom everywhere ---
  // TODO: Is it really correct design? (MS: 2.4.2014)
  .pine-level-1 > .pine-has-subnav > a,
  .pine-level-2 > .pine-has-subnav > a,
  .pine-level-3 > .pine-has-subnav > a {
    &:before {
      @media (max-width: @p-small-display-end) {
        .caret-bottom(@p-color, 4px);
      }
    }
  }
}


