/*  Pine.JS vertical example */

/*  --- Layout ---  */

body {
  margin: 1em;
}

/* --- Helpers --- */

/* Only display content to screen readers
http://a11yproject.com/posts/how-to-hide-content/
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


/*  --- Pine navigation styling ---  */

/*  Navigation item
    We need high selector specificity, so we
    are using #nav selector
*/

#nav.pine a {
  color: #333;
  background-color: #eee;
  margin-bottom: 0;
}

/* Opened or hovered navigation item */

#nav.pine li.pine-level-open > a,
#nav.pine a:hover,
#nav.pine a:active,
#nav.pine a:focus {
  color: #333;
  background-color: #ccc;
}

/* Top position of opened navigation on small screens */

@media (max-width: 599px) {
  .js .pine {
    top: 71px;
  }
}
