// Navigation variables

// Look and feel
@rwnColorSmallScreenNavBg: 			#555;
@rwnColorSmallScreenNavActive:	#999;
@rwnPaddingMedium:          		8px 10px;

// Level 1
@rwnColorNav:               #fff;
@rwnColorNavHover:          #fff;
@rwnColorNavLevel1Bg:       #666;
@rwnNavLevel1FontSize: 			16px;

// Level 2
@rwnColorNavLevel2:         #fff;
@rwnColorNavLevel2Hover:    #fff;
@rwnColorNavLevel2Bg:       #999;
@rwnNavLevel2FontSize: 			13px;

// Level 3
@rwnColorNavLevel3:         #fff;
@rwnColorNavLevel3Hover:    #fff;
@rwnColorNavLevel3Bg: 			#ccc;
@rwnNavLevel3FontSize: 			13px;

// RWD breakpoints
@rwnLargeDisplayStart: 		600px;
@rwnSmallDisplayEnd: 			599px;
@rwnMobileDisplayEnd: 		480px;