// - Pine variants: fixed position -

// Both small and large screen
.js .pine-fixed {
  .mixin-pine-fixed-base(0);

  @media (max-width: @p-small-display-end) {
    top: @p-small-screen-top;
  }
}

// Small screen
.js .pine-fixed-small {
  @media (max-width: @p-small-display-end) {
    .mixin-pine-fixed-base(@p-small-screen-top);
  }
}

// Large screen
.js .pine-fixed-large {
  @media (min-width: @p-large-display-start) {
    .mixin-pine-fixed-base(0);
  }
}

// Mixin
.mixin-pine-fixed-base(@top) {
  top: @top;
  left: 0;
  position: fixed;
  width: 100%;
}
