//
// Base for large displays
// ----------------------------

// Basic styling for all levels

@media (min-width: @p-large-display-start) {

  .pine {
    background: @p-background;
    border: @p-border;

    // Relative because of submenu positions od large screens
    li {
      position: relative;
    }

    // Navigation item
    a,
    strong {
      display: block;
      border-bottom: 0;
      text-indent: 0;
    }
  }
}
