//
// Base for large displays
// ----------------------------

// Basic styling for all levels

@media (min-width: @p-large-display-start) {

  .pine {
    background: @p-background;
    border: @p-border;

    // Relative because of submenu positions od large screens
    li {
      position: relative;
    }

    // Navigation item
    a,
    strong {
      display: block;
      border-bottom: 0;
      text-indent: 0;
    }
  }
}

// - First level -

@media (min-width: @p-large-display-start) {

  // Dimensions

  .pine-level-1 > li > a,
  .pine-level-1 > li > strong {
    padding: @p-level-1-padding-y @p-level-1-padding-x;
    font-size: @p-level-1-font-size;
    border-bottom: @p-level-1-border-bottom;
    border-right: @p-level-1-border-right;
  }

  .pine-level-1 > li:last-child > a,
  .pine-level-1 > li:last-child > strong {
    border-bottom: 0;
    border-right: 0;
  }

  // Item colors

  .pine-level-1 > li > a {
    background: @p-level-1-background;
    color: @p-level-1-color;
  }

  // Item hover colors

  .pine-level-1 > li > a:hover,
  .pine-level-1 > li > a:focus,
  .pine-level-1 > li > a:active {
    background: @p-level-1-hover-background;
    color: @p-level-1-hover-color;
  }

  // Item active colors

  .pine-level-1 > li > strong,
  .pine-level-1 > li.pine-level-open > a {
    background: @p-level-1-active-background;
    color: @p-level-1-active-color;
  }
}

// - Second level -

@media (min-width: @p-large-display-start) {

 .pine-level-2 {
    border: @p-level-2-border-fallback;
    border: @p-level-2-border;
    border-radius: @p-level-2-border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-clip: padding-box;
    .box-shadow(@p-level-2-shadow);
  }

  // Item dimensions and colors

  .pine-level-2 > li > a,
  .pine-level-2 > li > strong {
    color: @p-level-2-color;
    background: @p-level-2-background;
    padding: @p-level-2-padding-y @p-level-2-padding-x;
    font-size: @p-level-2-font-size;
    color: @p-level-2-color;
    border-bottom: @p-level-2-border-bottom;
  }

  .pine-level-2 > li:last-child > a,
  .pine-level-2 > li:last-child > strong {
    border-bottom: 0;
  }

  // Item hover colors

  .pine-level-2 > li > a:hover,
  .pine-level-2 > li > a:focus,
  .pine-level-2 > li > a:active {
    background: @p-level-3-hover-background;
    color: @p-level-2-hover-color;
  }

  // Item active colors

  .pine-level-2 > li.pine-level-open > a {
    background: @p-level-2-active-background;
    color: @p-level-2-active-color;
  }
}

// - Third level -

@media (min-width: @p-large-display-start) {

  .pine-level-3 {
    border: @p-level-3-border-fallback;
    border: @p-level-3-border;
    border-radius: @p-level-3-border-radius;
    background-clip: padding-box;
    .box-shadow(@p-level-3-shadow);
    overflow: hidden; // Because of border-radius
  }

  // Item

  .pine-level-3 > li > a,
  .pine-level-3 > li > strong {
    color: @p-level-3-color;
    background: @p-level-3-background;
    padding: @p-level-3-padding-y @p-level-3-padding-x;
    font-size: @p-level-3-font-size;
    color: @p-level-3-color;
    border-bottom: @p-level-3-border-bottom;
  }

  .pine-level-3 > li:last-child > a,
  .pine-level-3 > li:last-child > strong {
    border-bottom: 0;
  }

  // Item hover colors

  .pine-level-3 > li > a:hover,
  .pine-level-3 > li > a:focus,
  .pine-level-3 > li > a:active {
    background: @p-level-3-hover-background;
    color: @p-level-3-color;
  }

  // Active colors

  .pine-level-3> li.pine-level-open > a {
    background: @p-level-3-active-background;
    color: @p-level-3-active-color;
  }
}
