//
// BASE: Horizontal variant
// ----------------------------

// TODO
// - mixins create more code, we need to extend


// - All levels styling is different from vertical & small screen base -

.pine-horizontal {
  @media (min-width: @p-large-display-start) {

    ul > li {
      display: inline-block;
      position: relative;
      float: left; // Because of side and bottom spaces
    }

    ul > li > a,
    ul > li > strong {
      text-align: center;
      display: block;
    }

    ul a {
      position: relative;
    }

  }
}

// - 2nd + 3rd level horizontal base -

.pine-horizontal {
  @media (min-width: @p-large-display-start) {

    .pine-level-2,
    .pine-level-3 {
      position: absolute;

      li {
        display: block;
        float: none;
      }

      > li > a,
      > li > strong {
        text-align: left;
      }
    }

    // Hidden when JS is activated
    .js & .pine-level-2,
    .js & .pine-level-3 {
      visibility: hidden;
    }

    // 3rd level top and bottom
    .pine-level-3 {
      padding-top: 0;
      padding-bottom: 0;
    }

  }
}


// - 2nd, 3rd levels styling without JS -
// (All levels are open)

.pine-horizontal {
  @media (min-width: @p-large-display-start) {

    .pine-level-2 {
      .mixin-large-display-horizontal-2nd-level;
    }

    .pine-level-3 {
      .mixin-large-display-horizontal-3rd-level;
    }

  }
}

// - 2nd, 3rd levels styling when opened with JS -

.pine-horizontal {
  @media (min-width: @p-large-display-start) {

    .pine-level-open > .pine-level-2 {
      .mixin-large-display-horizontal-2nd-level;
    }

    .pine-level-open > .pine-level-3 {
      .mixin-large-display-horizontal-3rd-level;
    }

  }
}


// - Mixins -

// Opened second level
.mixin-large-display-horizontal-2nd-level() {
  z-index: 50001;
  visibility: visible;
  left: 0;
  top: 100%;
  width: 200px;
}

// Opened third level
.mixin-large-display-horizontal-3rd-level() {
  z-index: 50002;
  visibility: visible;
  left: 100%;
  top: 0;
  width: 200px;
}
