// Default: Vertikalni (male screeny + vertikalni varianta pro velke)
// ------------------------------------------------------------------

// Na malych screenech a bez js pozicovano zcela prirozene
// podle aktualniho umisteni v HTML

#nav {
	z-index: @pineZIndex;
	margin-bottom: @pineMarginBottom;
	min-height: @pineHeight;
	background: @pineBg;
	.clearfix();

	@media	(min-width: @pineLargeDisplayStart) {
		border-radius: @pineBorderRadius;
	}

	@media print {
		display: none;
	}

	// Schovavani (na malych displejich) pomoci JS
	.container-fluid &.hidden {
		display: none;
	}

	// Na malych screenech s JS pozicovano absolutne
	// nad obsah, hned pod .wm-l-mobile-header
	.js & {
		display: none;
		position: absolute;
		top: 42px;
		left: 0;
		width: 100%;
	}

	&.is-visible {
		display: block;
	}
}

// Vnitrek navigace
#nav {
	ul,
	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li > a,
	li > strong {
		display: block;
		padding: @pineSmallScreenPadding;
		color: @pineSmallScreenColor;
		font-weight: normal;
		.text-overflow();
		text-decoration: none;
		background: @pineSmallScreenBg;
	}

	// Aktivni polozka
	li a:hover,
	li a:focus,
	li a:active,
	li strong {
		background: @pineSmallScreenActiveBg;
		color: @pineSmallScreenActiveColor;
	}

	// Druha uroven zanoreni
	ul ul li > a,
	ul ul li > strong {
		text-indent: 1em;
	}

	// Treti uroven zanoreni
	ul ul ul li > a,
	ul ul ul li > strong {
		text-indent: 2em;
	}

}