// Pine: horizontal variant

> ul > li {
	display: inline-block;
	position: relative;	
	float: left; // Because of side and bottom spaces
}

> ul > li > a,
> ul > li > strong {
	text-align: center;
	display: block;
}

// - Nerozbaleny stav -

ul a {
	position: relative; // TODO why?
}

// Zabaleny stav druhe a treti urovne
ul ul {
	position: absolute;
	padding-top: 8px;
	padding-bottom: 8px;
}

// Pri nacteni JS: submenu schovame
.js & ul ul {
	visibility: hidden;
}

// Treti uroven zanoreni nema odsazeni zezhora a zezdola z druhe
ul ul ul {
	padding-top: 0;
	padding-bottom: 0;
}

// - Rozbaleny stav: bez JS -
// Vsechno je otevrene

// Otevrena druha uroven
ul > li > ul {
	.nav-large-display-horizontal-2nd-level;
}

// Otevrena treti uroven
ul ul > li > ul {
	.nav-large-display-horizontal-3rd-level;
}

// - Rozbaleny stav: s JS -

// Otevrena druha uroven
ul > li.is-open > ul {
	.nav-large-display-horizontal-2nd-level;
}

// Otevrena treti uroven
ul ul > li.is-open > ul {
	.nav-large-display-horizontal-3rd-level;
}

// Mixin: styl pro otevrenou druhou uroven zanoreni
.nav-large-display-horizontal-2nd-level() {
	z-index: 50001;
	visibility: visible;
	left: 0;
	top: 100%;
	max-width: 313px; // Max. sirka polozky v plne sirce layoutu
}

// Mixin: styl pro otevrenou treti uroven zanoreni
.nav-large-display-horizontal-3rd-level() {
	z-index: 50002;
	visibility: visible;
	left: 100%;
	top: 0;
}