// Pine default skin

// Navigation variables

// --- Look, feel and typography ---

@pineBaseFontSize:		16px;
@pineBaseLineHeight:	1;
@pineMarginBottom:		@pineBaseFontSize*1.5;
@pineZIndex:			100;
@pineHeight:			@pineBaseFontSize*2.5;
@pineBorderRadius:		0;
@pineColor:				black;
@pineBg:				transparent;
@pineBorder:			none;

// --- Small screens ---

@pineSmallScreenColor: 				#fff;
@pineSmallScreenBg: 				#555;
@pineSmallScreenHoverColor:			@pineSmallScreenColor;
@pineSmallScreenHoverBg:			#666;
@pineSmallScreenActiveColor:		@pineSmallScreenColor;
@pineSmallScreenActiveBg:			#999;
@pineSmallScreenFontSize: 			@pineBaseFontSize;
@pineSmallScreenPaddingVertical: 	@pineSmallScreenFontSize*.75;
@pineSmallScreenPaddingHorizontal:	@pineSmallScreenFontSize;

// --- Medium and large screens ---

// Level 1
@pineLevel1Color:            	@pineColor;
@pineLevel1Bg:      			transparent;
@pineLevel1HoverColor:       	blue;
@pineLevel1HoverBg:       		@pineBg;
@pineLevel1ActiveColor:      	@pineColor;
@pineLevel1ActiveBg:       		#ccc;
@pineLevel1SubIndColor:			@pineColor;
@pineLevel1FontSize: 			@pineBaseFontSize;
@pineLevel1PaddingVertical:		@pineLevel1FontSize*.75;
@pineLevel1PaddingHorizontal: 	@pineLevel1FontSize;

// Level 2
@pineLevel2Color:            	@pineLevel1Color;
@pineLevel2Bg:      			@pineLevel1Bg;
@pineLevel2HoverColor:       	@pineLevel1HoverColor;
@pineLevel2HoverBg:       		@pineLevel1HoverBg;
@pineLevel2ActiveColor:      	@pineLevel1ActiveColor;
@pineLevel2ActiveBg:       		@pineLevel1ActiveBg;
@pineLevel2SubIndColor:			@pineLevel1SubIndColor;
@pineLevel2FontSize: 			@pineLevel1FontSize;
@pineLevel2PaddingVertical:		@pineLevel1PaddingVertical;
@pineLevel2PaddingHorizontal: 	@pineLevel1PaddingHorizontal;
@pineLevel2BorderFallback:		none;
@pineLevel2Border:				none;
@pineLevel2BorderRadius:		none;
@pineLevel2Shadow:				none;

// Level 3
@pineLevel3Color:            	@pineLevel2Color;
@pineLevel3Bg:      			@pineLevel2Bg;
@pineLevel3HoverColor:       	@pineLevel2HoverColor;
@pineLevel3HoverBg:       		@pineLevel2HoverBg;
@pineLevel3ActiveColor:      	@pineLevel2ActiveColor;
@pineLevel3ActiveBg:       		@pineLevel2ActiveBg;
@pineLevel3SubIndColor:			@pineLevel2SubIndColor;
@pineLevel3FontSize: 			@pineLevel2FontSize;
@pineLevel3PaddingVertical:		@pineLevel2PaddingVertical;
@pineLevel3PaddingHorizontal: 	@pineLevel2PaddingHorizontal;
@pineLevel3BorderFallback:		@pineLevel2BorderFallback;
@pineLevel3Border:				@pineLevel2Border;
@pineLevel3BorderRadius:		@pineLevel2BorderRadius;
@pineLevel3Shadow:				@pineLevel2Shadow;

// --- RWD breakpoints ---

@pineLargeDisplayStart: 		600px;
@pineSmallDisplayEnd: 			@pineLargeDisplayStart - 1px;