// Pine default skin

// Navigation variables

// --- Look, feel and typography ---

@pineBaseFontSize:		16px;
@pineBaseLineHeight:	1;
@pineMarginBottom:		@pineBaseFontSize*1.5;
@pineZIndex:			100;
@pineHeight:			@pineBaseFontSize*2.5;
@pineBorderRadius:		0;
@pineColor:				black;
@pineBg:				transparent;

// --- Small screens ---

@pineSmallScreenColor: 				#fff;
@pineSmallScreenBg: 				#555;
@pineSmallScreenHoverColor:			@pineSmallScreenColor;
@pineSmallScreenHoverBg:			#666;
@pineSmallScreenActiveColor:		@pineSmallScreenColor;
@pineSmallScreenActiveBg:			#999;
@pineSmallScreenFontSize: 			@pineBaseFontSize;
@pineSmallScreenPadding: 			@pineSmallScreenFontSize*.75 @pineSmallScreenFontSize;

// --- Medium and large screens ---

// Level 1
@pineLevel1Color:            	@pineColor;
@pineLevel1Bg:      			transparent;
@pineLevel1HoverColor:       	blue;
@pineLevel1HoverBg:       		@pineBg;
@pineLevel1ActiveColor:      	@pineColor;
@pineLevel1ActiveBg:       		#ccc;
@pineLevel1SubIndColor:			@pineColor;
@pineLevel1FontSize: 			@pineBaseFontSize;
@pineLevel1Padding: 			@pineLevel1FontSize*.75 @pineLevel1FontSize;		

// Level 2
@pineLevel2Color:            	@pineLevel1Color;
@pineLevel2Bg:      			@pineLevel1Bg;
@pineLevel2HoverColor:       	@pineLevel1HoverColor;
@pineLevel2HoverBg:       		@pineLevel1HoverBg;
@pineLevel2ActiveColor:      	@pineLevel1ActiveColor;
@pineLevel2ActiveBg:       		@pineLevel1ActiveBg;
@pineLevel2SubIndColor:			@pineLevel1SubIndColor;
@pineLevel2FontSize: 			@pineLevel1FontSize;
@pineLevel2Padding: 			@pineLevel1Padding;

// Level 3
@pineLevel3Color:            	@pineLevel1Color;
@pineLevel3Bg:      			@pineLevel1Bg;
@pineLevel3HoverColor:       	@pineLevel1HoverColor;
@pineLevel3HoverBg:       		@pineLevel1HoverBg;
@pineLevel3ActiveColor:      	@pineLevel1ActiveColor;
@pineLevel3ActiveBg:       		@pineLevel1ActiveBg;
@pineLevel3SubIndColor:			@pineLevel1SubIndColor;
@pineLevel3FontSize: 			@pineLevel1FontSize;
@pineLevel3Padding: 			@pineLevel1Padding;

// --- RWD breakpoints ---

@pineLargeDisplayStart: 		600px;
@pineSmallDisplayEnd: 			@pineLargeDisplayStart - 1px;