// Pine default skin

// Navigation variables

// --- Look, feel and typography ---

@p-base-font-size                 : 16px;
@p-base-line-height               : 1;
@p-margin-bottom                  : @p-base-font-size*1.5;
@p-z-index                        : 100;
@p-border-radius                  : 0;
@p-color                          : black;
@p-background                     : transparent;
@p-border                         : none;

// --- Small screens ---

@p-small-screen-color             : #fff;
@p-small-screen-background        : #555;
@p-small-screen-border-color      : transparent; // Bootstrap needs it to separate header
@p-small-screen-hover-color       : @p-small-screen-color;
@p-small-screen-hover-background  : #666;
@p-small-screen-active-color      : @p-small-screen-color;
@p-small-screen-active-background : #999;
@p-small-screen-font-size         : @p-base-font-size;
@p-small-screen-padding-vertical  : @p-small-screen-font-size*.75;
@p-small-screen-padding-horizontal: @p-small-screen-font-size;
@p-small-screen-top               : 42px;

// --- Large screens ---

// Level 1
/*
- TO remove:
@p-level-1-color                  : @p-color;
@p-level-1-background             : transparent;
@p-level-1-hover-color            : blue;
@p-level-1-hover-background       : @p-background;
@p-level-1-active-color           : @p-color;
@p-level-1-active-background      : #ccc;
@p-level-1-caret-color            : @p-color;
@p-level-1-font-size              : @p-base-font-size;
@p-level-1-padding-y              : @p-level-1-font-size*.75;
@p-level-1-padding-x              : @p-level-1-font-size;
@p-level-1-border-bottom          : 0;
@p-level-1-border-right           : 0;
*/


// Level 2
/*
- TO remove:
@p-level-2-color                  : @p-level-1-color;
@p-level-2-background             : @p-level-1-background;
@p-level-2-hover-color            : @p-level-1-hover-color;
@p-level-2-hover-background       : @p-level-1-hover-background;
@p-level-2-active-color           : @p-level-1-active-color;
@p-level-2-active-background      : @p-level-1-active-background;
@p-level-2-caret-color            : @p-level-1-caret-color;
@p-level-2-font-size              : @p-level-1-font-size;
@p-level-2-padding-y              : @p-level-1-padding-y;
@p-level-2-padding-x              : @p-level-1-padding-x;

- TO rewrite:
@p-level-2-border-bottom          : 0;
@p-level-2-border-fallback        : none;
@p-level-2-border                 : none;
@p-level-2-border-radius          : none;
@p-level-2-shadow                 : none;
*/

// Level 3
/*
- TO remove:
@p-level-3-color                  : @p-level-2-color;
@p-level-3-background             : @p-level-2-background;
@p-level-3-hover-color            : @p-level-2-hover-color;
@p-level-3-hover-background       : @p-level-2-hover-background;
@p-level-3-active-color           : @p-level-2-active-color;
@p-level-3-active-background      : @p-level-2-active-background;
@p-level-3-caret-color            : @p-level-2-caret-color;
@p-level-3-font-size              : @p-level-2-font-size;
@p-level-3-padding-y              : @p-level-2-padding-y;
@p-level-3-padding-x              : @p-level-2-padding-x;
@p-level-3-border-fallback        : @p-level-2-border-fallback;
@p-level-3-border                 : @p-level-2-border;
@p-level-3-border-radius          : @p-level-2-border-radius;
- TO rewrite:
@p-level-3-border-bottom          : 0;
@p-level-3-shadow                 : @p-level-2-shadow;
*/

// --- RWD breakpoints ---

@p-large-display-start            : 600px;
@p-small-display-end              : ((@p-large-display-start - 1px));
