/*  Pine.JS vertical example */

/*  Layout  */

body {
  margin: 1em;
}

@media (min-width: 600px) {

  .nav-box {
    width: 15em;
    float: left;
    margin-right: 2em;
  }

  .content-box {
    width: 50em;
    float: left;
  }

}

/*  Pine navigation styling  */

/*  Navigation item
    We need high selector specificity, so we
    are using #nav selector
*/

#nav.pine a {
  color: #333;
  background-color: #eee;
  margin-bottom: 0;
}

/* Opened or hovered navigation item */

#nav.pine li.is-open > a,
#nav.pine a:hover,
#nav.pine a:active,
#nav.pine a:focus {
  color: #333;
  background-color: #ccc;
}

/* Top position of opened navigation on small screens */

@media (max-width: 599px) {
  .js .pine {
    top: 71px;
  }
}
