// --- Pine: Has submenu triangle indicator ---

// Context where we are positioning the indicator
#nav li.has-submenu > a,
[role='navigation'] li.has-submenu > strong {
	position: relative;
}

// Default: vertical
#nav > ul > li.has-submenu > a {
	padding-right: 2*@pineLevel1PaddingHorizontal; 

	&:before {		
		.triangle-indicator-base(@pineLevel1PaddingHorizontal);
		.triangle-indicator-right(@pineLevel1SubIndColor, 5px);
	}	
}

// Horizontal variant
#nav.nav-horizontal > ul > li.has-submenu > a {
	padding-right: 2*@pineLevel1PaddingHorizontal; 

	&:before {	
		.triangle-indicator-base(@pineLevel1PaddingHorizontal);
		.triangle-indicator-bottom(@pineLevel1SubIndColor, 5px);
		@media (max-width: @pineSmallDisplayEnd) {
			.triangle-indicator-right(@pineLevel1SubIndColor, 5px);
		}
	}
}

// 2nd level
#nav ul ul > li.has-submenu > a {
	padding-right: 2*@pineLevel2PaddingHorizontal;

	&:before {	
		.triangle-indicator-base(@pineLevel2PaddingHorizontal);
		.triangle-indicator-right(@pineLevel2SubIndColor, 5px);
	}
}

// 3rd level
#nav ul ul ul > li.has-submenu > a {
	padding-right: 2*@pineLevel3PaddingHorizontal;

	&:before {		
		.triangle-indicator-base(@pineLevel3PaddingHorizontal);	
		.triangle-indicator-right(@pineLevel3SubIndColor, 5px);
	}	
}

// Mixin: Triangle indicator base

.triangle-indicator-base(@paddingRight) {	
	z-index: 100;
	content: "";
	position: absolute;
	right: @paddingRight;
	top: 50%;
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	// Small screen version has only first level look
	@media (max-width: @pineLargeDisplayStart) {
		right: @pineLevel1FontSize; 
	}
}

// Mixin: Triangle indicator marker turned down

.triangle-indicator-bottom(@color, @indicatorSize) {
	border-width: @indicatorSize @indicatorSize 0 @indicatorSize; 
	margin-top: -1*@indicatorSize/2;
	border-color: @color transparent transparent transparent;	
	// Small screen version has only first level look 
	@media (max-width: @pineLargeDisplayStart) {
		border-color: @pineLevel1SubIndColor  transparent transparent transparent; 
	}
}

// Mixin: Triangle indicator marker facing left

.triangle-indicator-right(@color, @indicatorSize) {
	border-width: @indicatorSize 0 @indicatorSize @indicatorSize; 
	margin-top: -1*@indicatorSize;
	border-color: transparent transparent transparent @color;
	// Small screen version has only first level look 
	@media (max-width: @pineLargeDisplayStart) {
		border-color: transparent transparent transparent  @pineLevel1SubIndColor; 
	}
}