// --- Pine: Has submenu triangle indicator ---

// Context where we are positioning the indicator
.pine li.has-submenu > a,
[role='navigation'] li.has-submenu > strong {
	position: relative;
}

// 1st level: Default - vertical
.pine ul > li.has-submenu > a {
	padding-right: 2*@pineLevel1PaddingHorizontal;

	&:before {
		.triangle-indicator-base(@pineLevel1PaddingHorizontal);
		.triangle-indicator-right(@pineLevel1SubIndColor, 5px);
	}
}

// 1st level: Horizontal variant
.pine.pine-horizontal ul > li.has-submenu > a {
	padding-right: 2*@pineLevel1PaddingHorizontal;

	&:before {
		.triangle-indicator-bottom(@pineLevel1SubIndColor, 5px);
		@media (max-width: @pineSmallDisplayEnd) {
			.triangle-indicator-right(@pineLevel1SubIndColor, 5px);
		}
	}
}

// 2nd level
.pine ul li.is-open ul > li.has-submenu > a {
	padding-right: 2*@pineLevel2PaddingHorizontal;

	&:before {
		.triangle-indicator-base(@pineLevel2PaddingHorizontal);
		.triangle-indicator-right(@pineLevel2SubIndColor, 5px);
	}
}

// 3rd level
.pine ul ul li.is-open ul > li.has-submenu > a {
	padding-right: 2*@pineLevel3PaddingHorizontal;

	&:before {
		.triangle-indicator-base(@pineLevel3PaddingHorizontal);
		.triangle-indicator-right(@pineLevel3SubIndColor, 5px);
	}
}

// --- Toggle FX: triangle to bottom everywhere ---

// 1st level: Horizontal variant
.pine.fx-toggle {
	ul > li.has-submenu > a, // 1st level
	ul li.is-open ul > li.has-submenu > a, // 2nd level
	ul ul li.is-open ul > li.has-submenu > a { // 3rd level
		&:before {
			@media (max-width: @pineSmallDisplayEnd) {
				.triangle-indicator-bottom(@pineLevel1SubIndColor, 5px);
			}
		}
	}
}

// -- Mixin: Triangle indicator base ---

.triangle-indicator-base(@paddingRight) {
	z-index: 100;
	content: "";
	position: absolute;
	right: @paddingRight;
	top: 50%;
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	// Small screen version has only first level look
	@media (max-width: @pineSmallDisplayEnd) {
		right: @pineSmallScreenPaddingHorizontal;
	}
}

// Mixin: Triangle indicator marker turned down

.triangle-indicator-bottom(@color, @indicatorSize) {
	border-width: @indicatorSize @indicatorSize 0 @indicatorSize;
	margin-top: -1*@indicatorSize/2;
	border-color: @color transparent transparent transparent;
	// Small screen version has only first level look
	@media (max-width: @pineSmallDisplayEnd) {
		border-color: @pineLevel1SubIndColor  transparent transparent transparent;
	}
}

// Mixin: Triangle indicator marker facing left

.triangle-indicator-right(@color, @indicatorSize) {
	border-width: @indicatorSize 0 @indicatorSize @indicatorSize;
	margin-top: -1*@indicatorSize;
	border-color: transparent transparent transparent @color;
	// Small screen version has only first level look
	@media (max-width: @pineSmallDisplayEnd) {
		border-color: transparent transparent transparent  @pineLevel1SubIndColor;
	}
}
