//
// RIGHT TO LEFT FX
// Effect for small screens. Submenu is opened on right side with transition.
// ----------------------------


.fx-right-to-left {

	// First level is container for animation
	.pine-navbar {
		position: absolute;
		left: 0;
		.transition(~"left .2s");
	}

	// Second and succeeding levels
	ul ul {
		position: absolute;
		top: 0;
		left: 100%;
	}

	> ul > ul > ul {
		left: 200%;
	}

	> ul > ul > ul > ul {
		left: 300%;
	}

	.js & ul ul {
		visibility: hidden;
		.transition(~"visibility 0s .2s");
	}

	ul .is-open ul {
		visibility: visible;
	}

	.pine-navbar > .is-open > ul {
		.transition(~"visibility 0s 0s");
	}

	// No 2nd, 3rd level indentation
	ul li > a,
	ul li > strong {
		text-indent: 0 !important;
	}
}

// Back button for return to highest level

.fx-right-to-left .pine-back > a {
  position: relative;
  background: @pineSmallScreenActiveBg;
  text-align: center; 
  
  &:before {
	z-index: 100;
	content: "";
	position: absolute;
	top: 50%;
	left: @pineSmallScreenPaddingHorizontal;
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;  	
	border-width: 5px 5px 5px 0;
	margin-top: -2.5px;
	border-color: transparent @pineSmallScreenColor transparent transparent;	
  }
}